
@{
    ViewBag.Title = "Busqueda_Estampa";
}

<h1>Ingrese el nombre del equipo y el numero de estampa que desea buscar</h1>

<form action="/Listado/Busqueda_Estampar" method="post">
    <input type="text" name="Equipo" value="" />
    <input type="number" name="Numero" value="" />
    <input type="submit" name="Enviar" value="Enviar" />
</form>

