
@{
    ViewBag.Title = "Modificar";
}

<h1>Ingrese el nombre del equipo , el numero de estampa y la cantidad que posee para modificar</h1>

<form action="/Listado/Modificar_" method="post">
    <input type="text" name="Equipo" value="" />
    <input type="number" name="Numero" value="" />
    <input type="number" name="Cantidad" value="" />
    <input type="submit" name="Enviar" value="Enviar" />
</form>
